body {
  height: 3000px;
}

.fix {
  width: 100px;

  /* 브라우저 기준 */
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.sti {
  background-color: pink;
  /* 네비바같은 경우 포지션에 스티키로 사용해서 고정 */
  position: sticky;
  top: 0;
  /* 투명도 */
  opacity: 0.7;
  z-index: 99; 
}
/* z-index는 보이는 순서 조절 */
.container {
  position: relative;
  width: 200px;
  height: 200px;
  border: 1px solid red;
}

.container > div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.box1 {
  background-color: aquamarine;
  top: 10px;
  left: 10px;
  z-index: 5;
}

.box2 {
  background-color: blanchedalmond;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.box3 {
  background-color: darkgrey;
  top: 30px;
  left: 30px;
  z-index: 3;
}