* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width : 1200px;
  margin: auto;
}

header{
  width: 100%;
  background: white;
  position: sticky;
  overflow: auto;
  top: 0;
  display: flex;
  padding: 0 2%;
  justify-content: space-around;
}

header a {
  font-weight: bold;
  font-size: 18px;
}

nav > ul > li {
  display: inline-block;
  margin: 6px;
  padding: 10px;
}

a{
  text-decoration: none;
  color: black;
}

ul  {
  list-style: none;
}

header .logo img {
  width: 100px;
}


[type="search"] {
  background: #f3f2f2fd;
  width: 250px;
  height: 40px;
  border: 0 solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
}

[type="submit"] {
 background: white;
 font-weight: bold;
 width: 80px;
 height: 45px;
 border: 1px solid rgba(0, 0, 0, 0.2);
 border-radius: 5px;
 margin: 10px;
 padding: 10px;
 
}

.logo {
  flex-grow: 2;
  flex-shrink: 1;
  align-self: center;
  margin-right: auto;
}

.middle {
  flex-grow: 6;
  flex-shrink: 3;
  align-self: center;
}

.right-nav{
  flex-grow: 1;
  flex-shrink: 1;
}

section {
  width: 100%;
  height: 685px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#top {
  background: #FBF7F2; 
} 
.first {
  margin-left: 60px;
}
.first-img img { 
  width: 800px;
  height: 685px;
}
h1 {
  font-size: 35px;
  margin-bottom: 20px;
}
content a, .app a {
  background: #f3f2f2fd;
  height: 60px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  display: inline-block;
  margin-top: 15px;
  margin-right: 15px;
}

#article {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.second-img img {
  width: 530px;
  height: 685px;
}

.footer-nav {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.FQA {
  display: flex;
  margin-right: 20px;
}

.FQA li{
  padding: 15px;
}