* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 20px);
}
 #container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 20px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.input-box {
  position: relative;
  margin-bottom: 24px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-box input:focus {
  border-color: #007bff;
}

.input-box p {
  position: absolute;
  bottom: -20px;
  right: 0;
  color: red;
  font-size: 0.875em;
  margin: 0;
}

.input-box p.valid {
  color: #28a745;
}

.reg-req-btn {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  color: #fff;
  background-color: #6c757d;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.reg-req-btn.enabled {
  background-color: #007bff;
  cursor: pointer;
}

.reg-req-btn:active {
  position: relative;
  top: 2px;
  left: 2px;
}