* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 3000px;
}

header {
  background: plum;
  padding: 10px;
  overflow: auto;
  position: sticky;
  top: 0;
}

ul {
  list-style: none;
}

nav > ul > li {
  display: inline-block;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: black;
}
.logo {
  float: left;
}

nav{
  float: right;
}

content {
  clear: both;
  padding: 20px;
}

content > h1, content >p {
  padding: 20px;
}

.btn-top {
  position: fixed;
  border: 1px solid lightgray;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  right: 10px;
  bottom: 10px;
}

.btn-top i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: black;
}
/* 마우스를 올렸을때 들어갈 css */
.btn-top:hover {
  background: rgb(253, 206, 206);
}