.parent {
  border: 1px solid red;
  display: flex;
}

.parent > div {
  height: 100px;
  /* width: 100px; */
  background: skyblue;
  margin: 5px;
}

/* flex-grow는 넓이 비율 설정 속성, 자식들한테 해줘야함, 증가비율 */
/* 0이 기본값, 그럴경우 처음에 설정한 크기가 고정 */
/* flex-shrink : 감소비율 */
.child1 {
  flex-grow: 1;
  flex-shrink: 3;
}

.child2 {
  flex-grow: 2;
  flex-shrink: 2;
}

.child3 {
  flex-grow: 3;
  flex-shrink: 1;
} 

.parent2 {
  border: 1px solid red;
  height: 500px;
  display: flex;
}

.parent2 > div {
  height: 100px;
  width: 100px;
  background: pink;
  margin: 5px;
}
/* order는 순서 변경 0부터 시작함 */
/* align-self는 개별적으로 설정 */
.child4 {
  /* flex: 1; */
  /* order: 1; */
  align-self: center;
}

.child5 {
  flex: 1;
  /* order: 2; */
}

.child6 {
  flex: 1;
  /* order: 0; */
}

.parent3 {
  border: 1px solid red;
  display: flex;
}

.parent3 > div {
  width: 100px;
  height: 100px;
  background: yellowgreen;
  /* margin: auto; */
}

.child7 {
  margin-right: auto;
}

.child8 {
  margin-left: auto;
}